<p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
<div class="col-12">
  <div class="poll-grid-action-top">
    <div class="mb-3 checkbox-label">
      <p-checkbox [(ngModel)]="filter.onlyMy" [disabled]="account==null" (onChange)="onChangeMyPolls($event)" name="onlyMy" [binary]="true"></p-checkbox>
      <div [style]="{'margin-left': '.5em'}">
        <label class="form-label" jhiTranslate="poll.onlyMy">Only my polls</label>
      </div>
    </div>
    <p-button label="add" icon="pi pi-plus-circle" [routerLink]="['./new']"></p-button>
  </div>
</div>
<p-dataView [value]="polls" [paginator]="true" [rows]="10" layout="grid" [lazy]="true" (onLazyLoad)="loadData($event)" [totalRecords]="totalRecords">
  <ng-template let-poll pTemplate="gridItem">
    <div class="col-12 md:col-4 margin-r-10 margin-t-10">
      <p-card>
        <ng-template pTemplate="header">
          <div class="col-12 poll-grid-card-title">
            <span>{{poll.title}}</span>
          </div>
          
        </ng-template>
        {{poll.description}}
        <ng-template pTemplate="footer">
          <div class="poll-grid-action col-12">
            <p-button styleClass="p-button-warning" (click)="show(poll)" icon="pi pi-chart-pie"></p-button>
            <p-button  [routerLink]="['./edit', poll.id]" [style]="{'margin-left': '.5em'}" icon="pi pi-pencil"></p-button>
            <p-button  icon="pi pi-link" styleClass="p-button-secondary" (click)="associate(poll.id)" [style]="{'margin-left': '.5em'}"></p-button>
          </div>
        </ng-template>
      </p-card>
    </div>
  </ng-template>
</p-dataView>

