/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
  display: inline-block;
  width: 347px;
  height: 497px;
  background: url('../../content/images/jhipster_family_member_0.svg') no-repeat center top;
  background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .hipster {
    background: url('../../content/images/jhipster_family_member_0.svg') no-repeat center top;
    background-size: contain;
  }
}
.poll-grid-action{
  display: flex;
  justify-content: flex-end;;
}

.poll-grid-action-top{
  display: flex;
  justify-content: space-between;
}

.poll-grid-card-title{
  font-weight: 700;
  background-color: #e4e5e6;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  border-top: 1px;
  border-left: 1px;
  border-right: 1px;
}

.margin-r-10{
  margin-right: 10px;
}

.checkbox-label{
  display: flex;
  align-items: center;
}

.margin-t-10{
  margin-top: 10px;
}


